@model YMG.Models.Review
@{
    ViewBag.Title = "Edit";
}

<h2>Edit review</h2>
<div class="panel panel-default">
    @using (Html.BeginForm(actionName: "Edit", controllerName: "Reviews", method: FormMethod.Post))
    {
        @Html.HttpMethodOverride(HttpVerbs.Put)

    <div class="panel-body">
        @Html.Label("Title", "Title:")
        <br />
        @Html.EditorFor(b => b.Title, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(b => b.Title, "", new { @class = "text-danger" })
        <br />

        @Html.Label("Rating", "Rating:")
        <br />
        @Html.EditorFor(b => b.Rating, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(b => b.Rating, "", new { @class = "text-danger" })
        <br />

        @Html.Label("Text", "Review Body:")
        <br />
        @Html.EditorFor(b => b.Text, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(b => b.Text, "", new { @class = "text-danger" })
        <br />

        @Html.Label("SpoilersAhead", "Does the review contain spoilers?")
        <br />
        @Html.CheckBoxFor(b => b.SpoilersAhead)
        @Html.ValidationMessageFor(b => b.MovieId, "", new { @class = "text-danger" })
        <br />

        <br />
        <button class="btn btn-primary" type="submit">Update review</button>
    </div>
    }
</div>


