@model YMG.Models.Movie
@{
    ViewBag.Title = "AddRoles";
}

<h2>Edit Roles</h2>
@using(Html.BeginForm(actionName: "EditRoles", controllerName: "Movies", method: FormMethod.Post, routeValues: new { id = Model.MovieId }))
{
    @Html.LabelFor(m => m.Characters, "Characters")
    for (int i = 0; i < Model.Characters.Count(); i++)
    {
        @Html.HiddenFor(model => model.Characters[i].ActorId);
        @Html.HiddenFor(m => m.Characters[i].Actor);
        @Html.HiddenFor(m => m.Characters[i].MovieId);
        @Html.HiddenFor(m => m.Characters[i].ActorRoleId);
        @Html.HiddenFor(m => m.Characters[i].Movie);

        <div style="padding: 5px;">
            <div style="display: inline-block; width:25%">
                Actor: @Model.Characters[i].Actor.FullName
            </div>
            <div style="display: inline-block">
                Character: @Html.EditorFor(model => model.Characters[i].CharacterName)
            </div>
        </div>
    }
    <button type="submit">Done</button>
}

